a,
abbr,
b,
blockquote,
body,
canvas,
center,
div,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
i,
img,
label,
li,
ol,
output,
p,
small,
span,
strong,
tt,
u,
ul,
video {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	max-width: 100%;
	font-family: Arial, sans-serif;
	color:#fff;
}

.inputtext {
width:98%;
font-size:1.1em;
padding:5px;
color: #5b728d;
border:1px solid #5b728d;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin-bottom:15px;
}

.contentholder {
max-width: 100%;
margin:auto;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
background:white;
}

.ad {
margin:auto;
    width: 100%;
	max-width:768px;
}
.help {
margin:auto;
    width: 100%;
	max-width:768px;
	text-align:center;
	margin-top: 5px;
}
.bottom {
padding:15px;
font-size:12px;
text-align:center;
color:black;
}

.bottom a {  
background-color: #5b728d;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: white;
display: inline;
font-size: 12px;
margin-left: 5px;
padding: 3px 5px;
text-decoration: none;
	}

.ad img {
    width: 100%;
	max-width:768px;
    height: auto;
}

h2 {
font-family: Arial, sans-serif;
color:black; 
font-size:1.4em; 
-webkit-text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.55); 
-moz-text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.55); 
text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.55);
}
.uploadinput {
background:white; 

border-radius: 10px;
color:gray;
	background-color:black;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;

}

.uploadinputnext {
color:black;
background-color:black;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

h3 {
color:#ccc; 
font-size:0.6em; 
font-weight:normal;
}

h4 {
color:#ccc; 
font-size:1.2em; 
font-weight:normal;
}

li {float:left}

.thumbdyn {
height:61px; 
width:61px;
}

.top {
text-align:left;
width:100%;
height:56px;
margin:auto;
background-position: top center;
margin-bottom:20px;
}

.top img {
margin-top:5px;
}

.msg {display:inline-block; float:none; color: #5b728d; font-size:1.0em; padding-bottom: 5px; color: black;}

h1 {display:inline-block; float:left;}
.help h1 {display:inline-block; float:none; color: #5b728d; font-size:1.4em;}
.photomenu {display:inline-block; float:right; margin:20px}

#wrapper {
/*edited from width:400px; for large screen*/
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	padding: 0px;
	text-align:center;
}

#imageuploadform {
margin-bottom:5px;
margin-top:10px;
}

.hideform {
opacity:0.2;
filter:alpha(opacity=20);
}

.hideform:hover {
opacity:1.0;
filter:alpha(opacity=100);
}

#output img {
border:0px;
}

#output {
/*edited from width:400px; for large screen*/
width:90%;
/*added for large screen*/
margin:auto;
}


#page img {
border:0px;
max-width:100%;
}

#page {
/*edited from width:400px; for large screen*/
width:90%;
/*added for large screen*/
margin:auto;
}

#message a {
text-decoration:none;
color:white;
}

.shadow {text-align:center;}

.shadow img {
width: auto;
/*edited from max-height:350px; for large screen*/
max-height:100%;
/*edited from max-width:400px; for large screen*/
max-width:100%;
border:0px;
}

.save {
margin:auto; 
text-align:center; 
width:50px; 
height:29px; 
padding-top:15px;
margin-bottom:15px;

}

.save a{
outline-style: none; 
}

.loader {
display:block;
background:#fff;
margin:auto;
padding:15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#filters {
/*edited from width:293px; for large screen*/
width:75%; 
margin:auto;
}


div .filter {
  display: inline-block;
  margin:13px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
cursor:pointer;
}

#filterholder {
  display: inline-block;
  margin:13px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#filterholder img{
  padding:5px;
  display: inline-block;
  position:relative;
  z-index:88;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}


li.filter div {  
position:relative;
z-index:99;
background:url(../images/holder.png);
margin-top:-66px;
width:63px;
height:63px;
margin-left:0px;
box-shadow: 0px 0px 3px #000000;
-webkit-box-shadow: 0px 0px 3px #000000;
-moz-box-shadow: 0px 0px 3px #000000;
}

div.filter img{
  padding:5px;
  display: inline-block;
  position:relative;
  z-index:88;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

div.filter h3 a{
background-color: black;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: white;
display: inline-block;
font-size: 14px;
margin-bottom: 8px;
padding: 5px;
text-decoration: none;
}


@media only screen and (orientation: landscape) {
.shadow img {
width: auto;
max-height:320px;
max-width:100%;
border:0px;
}
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) { 
/* tablet portrait mode and desktops with less than 994px of horizontal browser width */
.shadow img {
width: auto;
max-height:260px;
max-width:100%;
border:0px;
}
}

@media only screen and (min-device-width: 768px) and (orientation: portrait), screen and (max-width: 994px) { 
/* tablet portrait mode and desktops with less than 994px of horizontal browser width */

}

@media screen and (max-width: 555px), screen and (max-device-width: 480px) { 
/* for desktops with less than 555px of horizontal browser width and devices with less than 480px wide (most phones in landscape orientation) */ 
#imageuploadform {
margin-bottom:15px;
margin-top:50px;
}
}

@media screen and (max-width: 320px) { 
/* anything less than 320px (primarily phones in portrait */
#imageuploadform {
margin-bottom:15px;
margin-top:100px;
}
}

.socialholder {    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 230px;}
.social {float:left; margin-left:3px;}

.photomontage {
	background-color:black;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	border-color: black; 
}
.photomontage:hover {
	background-color:black;
	border-color: black;
}
.photomontage:active {
	position:relative;
	top:1px;
}

.specialeffects {
	background-color:black;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	border-color: black;
}
.specialeffects:hover {
	background-color:black;
	border-color: black;
}
.specialeffects:active {
	position:relative;
	top:1px;
}



#file {
	color: white;
}

.p111 {
	text-align: center;
}

.p222 {
	text-align: center;
}
